.calender {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #595959;
	padding: 2rem;
	width: 100%;
	height: 100%;
}
.calender-box {
	width: 40%;
	height: 70%;
	border-radius: 2rem;
}
.calender-box-header {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 25px 25px 0 25px;
}
.current-date {
	font-size: 2rem;
	font-weight: bold;
	text-shadow: brown 2px 1px;
}
.calender-box-header-icons span {
	text-align: center;
	padding: 5px;
	margin: 0 1px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1.5rem;
	color: red;
}
.calender-box-header-icons span:hover {
	background: #c0c0c0;
}
.calender-box-content {
	padding-top: 20px;
	height: auto;
}
.calender-box-content ul {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.calender-box-content ul li {
	position: relative;
	width: calc(100% / 7);
	padding: 20px 0 20px 0;
}
.calender-box-content .days li {
	cursor: pointer;
	z-index: 1;
}
.days .inactivo {
	color: #d4d4d4;
}
.days .activo {
	color: #d4d4d4;
}
.calender-box-content .days li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 57px;
	height: 57px;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.days li:hover {
	background: #e0e0e0;
	border-radius: 50%;
}
.days li.activo::before {
	background: #595959;
	border-radius: 50%;
}
